.customer-accounts {
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin-top: -15px;
    margin-right: 5px;
}
.customer-operations {
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: 5px;
}